*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width:768px) {
    .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.form-inline .form-control-static {
    display: inline-block;
}
.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}
.form-inline .input-group .form-control, 
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn {
    width: auto;
}
.form-inline .input-group>.form-control {
    width: 100%}
}

.input-group .form-control,
.input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.form-control {
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.form-control, output {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

.map {
    width: 100%;
    height: 100%
}

.container-fluid {
    margin-top: 20px;
}
.btn-default, 
.form-control, 
.input-group-addon {
    border-radius: 0;
}
.form-control {
    width: 170px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input-group-addon {
    font-weight: 300;
    color: #fff;
    background-color: #333;
    border: none;
}

.location h1 {
    font-size: 28px;
    margin-top: 10px;
    font-weight: 300;
}
.location .nm-formatted-address {
    position: relative;
    padding: 10px;
    width: 100%;
    float: left;
    color: #fff;
}




.current-temp-box .current-temp-showhide,
.nm-formatted-address .venue-box-showhide {
  float: right;
}

.location {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 300;
    width: 460px;
    background: #4d90fe;
 }



@media only screen and (max-width :768px) {


.location {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    background: #4d90fe;
 }

}




.nm-formatted-address .venue-box-showhide {
    color: #333;
}
.nh-info-box .current-temp-box {
    position: relative;
    padding: 10px;
    float: left;
    width: 45%;
    height: 100%;
    background: #fff;
}
.nh-info-box .current-temp-box .left {
    width: 110px;
    float: left;
}
.nh-info-box .current-temp-box .left .current-temp {
    float: left;
    font-size: 40px;
}
.nh-info-box .current-temp-box .left .right-now {
    font-size: 14px;
}
.nh-info-box .current-temp-box .right .right-now-icon {
    float: right;
    font-size: 18px;
    padding: 10px 10px 0 0;
}
.fixed-container {
    width: 520px;
    position: absolute;
    z-index: 100;
    top: 5px;
    padding: 0 5px;
}
@media only screen and (max-width :768px) {
    .fixed-container {
    width: 100%}
.search-button {
    display: none;
}
.form-group {
    margin-bottom: 5px;
}
.nh-info-box {
    width: 300px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
}
.nh-info-box .current-temp-box .left .right-now,
 .nh-info-box .current-temp-box .right .right-now-icon {
    display: none;
}
.nh-info-box .current-temp-box .left .current-temp {
    font-size: 20px;
}
}@media only screen and (max-width :320px) {
    .fixed-container {
    width: 100%}
}
